RES_TXT_1 RCDATA "Resources\\Base64.txt"
RES_IMG_1 RCDATA "Resources\\IMG1.png"
RES_IMG_2 RCDATA "Resources\\IMG2.png"
RES_DB_1 RCDATA "Resources\\Database.db"
RES_IMG_4 RCDATA "Resources\\IMG4.png"
RES_IMG_5 RCDATA "Resources\\IMG5.png"
RES_IMG_3 RCDATA "Resources\\IMG3.png"
